DUPE_RM_DATABASE='RootsMagic 11/Your Tree.rmtree'
DUPE_FUZZY_THRESHOLD='82'
DUPE_MAX_AGE_GAP='5'
DUPE_FUZZY_THRESHOLD_STRICT='95'
DUPE_FAMILY_MATCH_THRESHOLD='75'
DUPE_FOLDER_NAME='!Duplicate Review'
DUPE_COLOR_SET='1'
DUPE_COLOR_VALUE='27'