# ==========================================
# GEMINI ENVIRONMENT CONFIGURATION
# ==========================================
GEMINI_API_KEY=""
API_BUDGET=20

# Flash Model:
#Flash 2.5
#MODEL_NAME="gemini-2.5-flash"
#COST_PER_1M_INPUT="0.30"
#COST_PER_1M_OUTPUT="2.50"

# Pro 2.5
#MODEL_NAME="gemini-2.5-pro"
#COST_PER_1M_INPUT="1.25"
#COST_PER_1M_OUTPUT="10.00"

#Pro 3.1
MODEL_NAME="gemini-3.1-pro-preview"
COST_PER_1M_INPUT="2.00"
COST_PER_1M_OUTPUT="12.00"

# ==========================================
# FILE PATHS & DATA CONFIGURATION
# ==========================================
PROGRAM_DIR="C:\Genealogy"
RM_DIR ="\Roots Magic 11"
FTM_DIR ="\Family Tree Maker"
CSV_DIR ="\CSV"
IMAGE_DIR="\Media"
IMAGE_EXTENSION=".jpg"
GEDCOM_OUTPUT_PATH="\Gedcom\MGS"
GEDCOM_OUTPUT_NAME="1850 US Census - Minnesota Territory - Pembina.ged"
CSV_FILE="1850 US Census - Minnesota Territory - Pembina.csv"

# ==========================================
# ORGANIZATION & METADATA CONFIGURATION
# ==========================================
RESEARCHER="Your Name"
ORG_NAME="Organization Name"
SOFTWARE_NAME="RootsMagic"
SOFTWARE_VERS="11.0"
COPYRIGHT_START="2026"
GEDCOM_NOTE="This file contains original historical translations and research."
GEDCOM_CONC="Please do not upload this raw GEDCOM to public, collaborative trees without permission and attribution."
REVIEW_COLOR="1"
SUBM_ADDRESS="Your website or Ancestry or FamilySearch profile"
MGS_GROUP_URL="Organization Website or Social Media Link"
ANCESTRY_GROUP_URL="Ancestry Research Group, or link to Ancestry Tree"

# ==========================================
# REPOSITORY & SOURCE IDs
# ==========================================
ROOT_SOURCE_ID="@S1@"
CALL_NUMBER="Call #"
REPOSITORY="FamilySearch.org"
REPOSITORY_LOC="Granite Mountain, UT"
COLLECTION_URL="URL of COLLECTION, not Record"
COLLECTION_NAME="Name of COLLECTION, not Record"

# ==========================================
# CENSUS SCHEDULE CONFIGURATION (CENSUS)
# ==========================================

# Census Info, follow example below. ANCESTRY_START_RECORD_ID
# is the PID of the first person on the CSV.
CENSUS_YEAR=1850
STATE="Minnesota Territory"
COUNTY="Pembina County"
TOWNSHIP="Pembina Township"
FILM_NUMBER="367"
ROLL_NUMBER="M432"

#Ancestry Info
ANCESTRY_START_RECORD_ID=3325109
APID_DB="8054"
ANCESTRY_IMAGE_BASE_ID="4195937"

#Switches
MIN_MARRIAGE_AGE=12
MAX_SPOUSE_AGE_GAP=25
HUSBAND_CHILD_AGE_GAP_MIN=14
HUSBAND_CHILD_AGE_GAP_MAX=60
WIFE_CHILD_AGE_GAP_MIN=12
WIFE_CHILD_AGE_GAP_MAX=50