*.env
/Church Registers/JSON/
/.idea/
/County Fix/US_AtlasHCB_Counties/
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Metadata/
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/
/County Fix/US_AtlasHCB_Counties/zCreativeCommonsLicense/
/County Fix/US_AtlasHCB_Counties/US_HistCounties_READ_ME.htm
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Metadata/US_HistCounties_Metadata1.htm
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Metadata/US_HistCounties_Metadata2.htm
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.dbf
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.END_DATE.atx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.END_N.atx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.ID_NUM.atx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.prj
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.sbn
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.sbx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.shp
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.shp.xml
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.shx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.START_DATE.atx
/County Fix/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.START_N.atx
/County Fix/US_AtlasHCB_Counties/zCreativeCommonsLicense/CreativeCommonsDeed_files/
/County Fix/US_AtlasHCB_Counties/zCreativeCommonsLicense/CreativeCommonsDeed.htm
