COUNTY_RM_DATABASE='RootsMagic 11/Your_Database.rmtree'
COUNTY_SHAPEFILE='Python/County FIx/US_AtlasHCB_Counties/US_HistCounties_Shapefile/US_HistCounties.shp'
COUNTY_DEBUG_MODE='False'
COUNTY_CREATE_BACKUP='True'