# ==========================================
# GEMINI ENVIRONMENT CONFIGURATION
# ==========================================
GEMINI_API_KEY=""
API_BUDGET=20

# Flash Model:
#Flash 2.5
#MODEL_NAME="gemini-2.5-flash"
#COST_PER_1M_INPUT="0.30"
#COST_PER_1M_OUTPUT="2.50"

# Pro 2.5
#MODEL_NAME="gemini-2.5-pro"
#COST_PER_1M_INPUT="1.25"
#COST_PER_1M_OUTPUT="10.00"

#Pro 3.1
MODEL_NAME="gemini-3.1-pro-preview"
COST_PER_1M_INPUT="2.00"
COST_PER_1M_OUTPUT="12.00"

# ==========================================
# FILE PATHS & DATA CONFIGURATION
# ==========================================
MASTER_DB_NAME="church_register.json"
GEDCOM_OUTPUT_PATH="C:\Genealogy\Gedcom\"
GEDCOM_OUTPUT_NAME="Church_Register.ged"
IMAGE_SOURCE_DIR="C:\Genealogy\Media\"
# ==========================================
# ORGANIZATION & METADATA CONFIGURATION
# ==========================================
RESEARCHER="Your Name"
ORG_NAME="Your Society"
SOFTWARE_NAME="RootsMagic"
SOFTWARE_VERS="11.0"
COPYRIGHT_START="2026"
GEDCOM_NOTE="This file contains original historical translations and research."
GEDCOM_CONC="Please do not upload this raw GEDCOM to public, collaborative trees without permission and attribution."
REVIEW_COLOR="1"
# ==========================================
# PARISH REGISTER CONFIGURATION
# ==========================================
PARISH_NAME="Assumption of the Blessed Virgin Mary"
PARISH_NAME_SHORT="Assumption Parish, Pembina, ND"
PARISH_CITY="Pembina"
PARISH_STATE="North Dakota"
PARISH_FILE_NAME="Assumption_Pembina"
VOLUME_TITLE="Baptisms, marriages and burials, 1848-1896"
VOLUME_NUM="1"
REGISTER_NAME="Baptisms, marriages and burials, 1848-1896"
# ==========================================
# DEFAULTS, HEADERS & ROLES
# ==========================================
DEFAULT_EVENT_LOCATION="Pembina, Pembina County, North Dakota, USA"
TRANSCRIPTION_HEADER="Original Transcription:"
TRANSLATION_HEADER="English Translation:"
ROLE_CLERGY="Priest"
ROLE_DEFAULT_WITNESS="Witness"
CLERGY_HONORIFIC="Father"
PRIEST_NAMES="Jean-Edouard Darveau,Georges-Antoine Belcourt,Albert Lacombe,Joseph Goiffon,Jean-Baptiste Marie Genin,Laurent Simonet,Louis Spitzelberger,Pierre Champagne,L. Lavigne"
# ==========================================
# REPOSITORY, SUBMITTER & SOURCE IDs
# ==========================================
ROOT_SOURCE_ID="@S1@"
REGISTER_SOURCE_ID="1"
CALL_NUMBER="Call #1597568"
REPOSITORY="FamilySearch.org"
REPOSITORY_LOC="Granite Mountain, UT"
SUBM_ADDRESS="Your website or Ancestry or FamilySearch profile"
MGS_GROUP_URL="Organization Website or Social Media Link"
ANCESTRY_GROUP_URL="Ancestry Research Group, or link to Ancestry Tree"
COLLECTION_URL="https://www.familysearch.org/ark:/61903/3:1:3Q9M-CSVL-K1MZ?lang=en"
COLLECTION_NAME="Alice Marie Belgarde Jackson Collection, 1926-1989, FamilySearch.org"